.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--bs-green) !important;
}

a {
  color: var(--bs-green) !important;
}

a:hover {
  color: #1fa164 !important;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable tfoot th,
table.dataTable tfoot td {
  text-align: center !important;
}

.dataTables_wrapper .dataTables_length select {
  border: 1px solid #aaa !important;
  border-radius: 3px !important;
  padding: 5px !important;
  background-color: #fff !important;
  padding: 4px !important;
}

.dataTables_wrapper .dataTables_filter input {
  border: 1px solid #aaa !important;
  border-radius: 3px !important;
  padding: 5px !important;
  background-color: #fff !important;
  margin-left: 3px !important;
}

.table-flush td,
.table-flush th {
  border-right: 0 !important;
  border-left: 0 !important;
  border-top: 1px solid #f0eeee !important;
  border-bottom: 1px solid #f0eeee !important;
}

.table-flush tbody tr:first-child td,
.table-flush tbody tr:first-child th {
  border-top: 0 !important;
}

.table-flush tbody tr:last-child td,
.table-flush tbody tr:last-child th {
  border-bottom: 0 !important;
}

/* Menggeser teks input agar tidak tumpang tindih dengan ikon */
/* .form-group.has-icon-left .form-control {
  padding-left: 3rem !important;
} */

/* Mengatur jarak ikon dari kiri input */
.form-group.has-icon-left .form-control-icon {
  position: absolute !important;
  top: 50% !important;
  /* transform: translateY(-50%) !important; */
  /* left: 0.75rem !important; */
}

/* Menggeser teks input agar tidak tumpang tindih dengan pesan kesalahan */
.form-group.has-icon-left .form-control.is-invalid {
  padding-right: 3rem !important;
}

/* Mengatur pesan kesalahan berada di bawah input */
.form-group.has-icon-left .form-control.is-invalid+.invalid-feedback {
  position: absolute !important;
  top: 100% !important;
  left: 0 !important;
}

.sidebar-header .logo img {
  height: 50px !important;
  width: 200px !important;
}

.sidebar-wrapper .menu .sidebar-item.active .sidebar-link {
  background-color: var(--bs-green) !important;
}

.burger-btn {
  color: var(--bs-green) !important;
}

.sidebar-wrapper .menu .sidebar-title {
  color: var(--bs-green) !important;
}

.sidebar-wrapper .menu .sidebar-link {
  color: var(--bs-green) !important;
}

.sidebar-wrapper .menu .sidebar-link i,
.sidebar-wrapper .menu .sidebar-link svg {
  color: #7eb57c;
}

.sidebar-wrapper .menu .submenu .submenu-item.active>a {
  color: var(--bs-green) !important;
  font-weight: 725;
}

.input-group-text {
  font-size: 1.1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  display: flex !important;
  margin-bottom: 0 !important;
  padding: 0.625rem 0.75rem !important;
  text-align: center !important;
  white-space: nowrap !important;
  color: #adb5bd !important;
  border: 1px solid #dee2e6 !important;
  border-radius: 0.25rem !important;
  background-color: #fff !important;
  align-items: center !important;
}

.input-group-text input[type='checkbox'],
.input-group-text input[type='radio'] {
  margin-top: 0 !important;
}

.form-control:focus {
  color: #71867c !important;
  background-color: #fff;
  border-color: #7eb57c !important;
}

.form-check-input:checked {
  background-color: var(--bs-green) !important;
  border-color: var(--bs-green) !important;
}

.form-check-input[type='checkbox']:indeterminate {
  background-color: var(--bs-green) !important;
  border-color: var(--bs-green) !important;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3E%3C/svg%3E");
}

.form-check .form-check-input.form-check-primary.form-check-glow {
  box-shadow: 0 0 5px #26875a !important;
}

.form-check-input:focus {
  border-color: #7cc7a4;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(67, 190, 129, 0.25);
}

.form-select:focus {
  border-color: #a1afdf;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(67, 190, 129, 0.25) !important;
}

.dropdown-menu {
  cursor: pointer;
}

.surtitle {
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #8898aa;
  font-size: 12px;
}

#notification_count {
  padding: 4px 4px 4px 4px;
  background: #cc0000;
  color: #ffffff;
  font-weight: bold;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  position: absolute;
  margin-top: -1px;
  margin-left: -12px;
  font-size: 10px;
}

.page-link {
  position: relative;
  display: block;
  color: #435ebe;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff !important;
  background-color: var(--bs-green) !important;
  border-color: var(--bs-green) !important;
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  border: 3px solid #e1e3ea;
  --background: #fff;
  position: absolute;
  cursor: pointer;
  top: 7px;
  left: 0;
  right: 18px;
  bottom: 3px;
  background-color: var(--background);
  transition: 0.5s;
  border-radius: 30px;
}

.slider:focus {
  border-color: #7cc7a4;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(67, 190, 129, 0.25);
}

.slider:before {
  position: absolute;
  content: '';
  height: 0.8em;
  width: 0.8em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -1px 0px 0px #6c757d;
  background: var(--background);
  transition: 0.5s;
}

input:checked+.slider {
  background-color: #2ac67d;
}

input:checked+.slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff000;
}

.nav-pills .nav-link.active {
  box-shadow: 0 2px 10px rgba(25, 135, 84, 0.5);
}

.nav-tabs,
.nav-tabs .nav-link {
  border: none;
}

.nav-tabs .nav-link:hover {
  border: none;
  text-shadow: 0 0 2px rgba(25, 135, 84, 0.3);
}

.nav-tabs .nav-link.active {
  border: none;
  position: relative;
  background-color: #ebf8f1 !important;
  color: var(--bs-green) !important;
}

.nav-tabs .nav-link.active:after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: var(--bs-green) !important;
  left: 0;
  box-shadow: 0 2px 5px rgba(25, 135, 84, 0.5);
}

.dropdown-submenu {
  position: relative !important;
}

.dropdown-submenu .dropdown-menu {
  top: 0 !important;
  left: 100% !important;
  margin-top: -1px !important;
}

.dropdown-item {
  padding: 0.45rem 0.75rem !important;
}

.select_warna {
  /* background: #ffd5ba !important; */
  /* background: #ddf8c6 !important; */
  background: #e0fced !important;
  color: var(--bs-green);
}

/* Untuk tema gelap */
.table-dark tbody tr.select_warna {
  background: #555 !important;
  /* Sesuaikan dengan warna yang cocok untuk tema gelap */
  color: #fff;
}